@model List<StudentDTO>
@{
    ViewData["Title"] = "StudentList";
}

<h1>StudentList</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Numarası
            </th>
            <th>
                Adı
            </th>
            <th>
                Soyadı
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var st in Model)
        {
            <tr>
                <td>
                    @st.StudentCode
                </td>
                <td>
                    @st.FirstName
                </td>
                <td>
                    @st.LastName
                </td>

                <td>
                    <a asp-action="Detail" asp-controller="Admin" asp-route-id="@st.StudentId">Detaylar</a>
                </td>
            </tr>
        }
    </tbody>
</table>